<strong>Olá, {{ deliverymanName }}</strong>
<p>Uma nova entrega está disponivel para ser realizada:</p>
<p>
  <strong>Nome do Produto: </strong> {{ product }} <br />
  <strong>Destinatario: </strong>{{ recipientName }} <br />
  <strong>Endereço de entrega: </strong>{{ address }}
</p>
<p>Para mais informações é necessario acessar nosso aplicativo.</p>
